<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Página de Login</title>
<!-- Atualize o href para apontar para o local correto do seu arquivo CSS -->
<link rel="stylesheet" href="/login.css">
</head>
<body>
	<div class="login-container">
		<h2>Por favor, faça login</h2>
		<form>
			<div class="input-group">
				<input type="text" required="required" id="username" name="username"
					placeholder="Usuário">
			</div>
			<div class="input-group">
				<input type="password" required="required" id="password"
					name="password" placeholder="Senha">
			</div>
			<div class="input-group">
				<button type="submit">Entrar</button>
			</div>
		</form>
	</div>
</body>
</html>
